.skill-category {
  margin-bottom: 20px;
}

.skill-category h3 {
  color: #6c63ff;
  margin-bottom: 5px;
}

.skill-category p {
  color: #555;
  line-height: 1.6;
}


.skill-category {
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 1.6;
}

.skill-title {
  color: #6c63ff;
  font-weight: 600;
}

.skill-items {
  color: #555;
}

.skill-category {
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
}